--- 
title: rodri-go.net
layout: headers_footers.njk
css:
  - /public/_work.css
  - /public/_project_cards.css
  - /public/_projects_grid.css
pagination:
  data: collections.categoriesList
  size: 1
  alias: category
permalink: "/categories/{{ category | slug }}/index.html"
---
{# work #}
{% include "work.njk" %}

{% set filtered = [] %}

{% for project in collections.project %}
  {% if category in project.data.categories %}
    {% set filtered = filtered.concat([project]) %}
  {% endif %}
{% endfor %}

{# projects #}
{% set projects = filtered %}
{% include "projects.njk" %}