---
title: rodri-go.net
layout: headers_footers.njk
css:
  - /public/_about.css
  - /public/_work.css
  - /public/_project_cards.css
  - /public/_projects_grid.css
pagination:
  data: collections.project
  size: 12
  alias: projects
  reverse: true
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{# about #}
{% include "about.njk" %}

{# work #}
{% include "work.njk" %}

{# projects #}
{% include "projects-index.njk" %}

{# pagination #}
{% include "pagination.njk" %}