---
title: rodri-go.net
layout: headers_footers.njk
---

<h2>Site Size Summary</h2>
<p>Total Site Size: {{ (siteSize.totalSize / 1024) | round(2) }} MB</p>

<h3>Page Sizes</h3>
<ul>
  {% for page, size in siteSize.pageSizes %}
    <li>{{ page }}: {{ size }} KB</li>
  {% endfor %}
</ul>

{% set cleanUrl = page.url | replace('^/', '') %}
{% set lookupKey = page.url.slice(1) ~ 'index.html' %}
Lookup key: {{ lookupKey }}
<p>Page Size: {{ siteSize.pageSizes[lookupKey] or 'Unknown' }} KB</p>

what
