--- 
title: rodri-go.net
layout: headers_footers.njk
css:
  - /public/_work.css
  - /public/_project_cards.css
  - /public/_projects_grid.css
pagination:
  data: collections.categoriesList
  size: 1
  alias: category
permalink: "/categories/{{ category | slug }}/index.html"
---
{# work #}
{% include "work.njk" %}

{# projects #}
{% set projects = collections.projectsByCategory[category] %}
{% include "projects-index.njk" %}