---
title: rodri-go.net
layout: headers_footers.njk
---

<div class="about-page-container main-section">
    <div class="about-wrapper flex-center">
        <div class="about-body full-width">
            {{ content | safe }}
        </div>  
    </div>
</div>