<div class="main-section" id="about-container">
  <div class="about flex-center">
    <div class="about-wrapper flex-start full-width">
      <p>
        Rodrigo is a researcher, designer and programmer exploring the ecological and social dimensions of digital technology. His work challenges how we build and relate to digital tools by examining the entanglements between technological and living systems.<br> <a href="/about" class="read-more">READ MORE <span class="read-more-arrow">&#8702;</span></a>
      </p>
    </div>
  </div>
</div>