<div class="main-section" id="about-container">
  <div class="about flex-center">
    <div class="about-wrapper flex-start full-width">
      <p>
        Rodrigo Cardoso (he/him) is a designer, programmer and researcher interested in the ecological and social dimensions of digital technology. 
        His work questions how we build digital tools by examining how the thinking that informs them, along with their energy use and infrastructure, shape both people and the planet. <br> <a href="/about" class="read-more">READ MORE <span class="read-more-arrow">&#8702;</span></a>
      </p>
    </div>
  </div>
</div>