<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="author" content="Rodrigo Cardoso">
    <meta name="description" content="Rodrigo is a toolmaker within design. His research interest lies in the philosophical, creative and social dimensions of digital technology.">
    <meta name="keywords" content="Rodrigo Cardoso, design, graphic, research, autonomous, web, computation, digital, culture, web">
    <style>
      {% include "../_site/public/_about.css" %}
      {% include "../_site/public/_navbar.css" %}
      {% include "../_site/public/_footer.css" %}
      {% include "../_site/public/_project_cards.css" %}
      {% include "../_site/public/_projects_grid.css" %}
      {% include "../_site/public/_page_projects.css" %}
      {% include "../_site/public/_page_about.css" %}
      {% include "../_site/public/_work.css" %}
      {% include "../_site/public/application.css" %}
    </style>
  </head>

  <body>
    {# navbar #}
    <nav id="navbar" class="flex-center">
      <div class="nav-wrapper full-width">
        <div class="nav-left"><h1 class="nav-header"><a href="/">rodri-go.net</a></h1></div>
        <div class="nav-right">
          <a href="{% if page.url == '/' %}#work{% else %}/#work{% endif %}" class="nav-btn {% if page.url == '/' %}active{% endif %}">Work &#8623;</a>
          <a href="/about" class="nav-btn about {% if page.fileSlug == 'about' %}active{% endif %}">About</a>
          <a href="/contact" class="nav-btn contact {% if page.fileSlug == 'contact' %}active{% endif %}">Contact</a>
          <a href="/blog" class="nav-btn blog {% if page.fileSlug == 'blog' %}active{% endif %}">Blog</a>
        </div>
      </div>
    </nav>

    {{ content | safe }}

    {# footer #}
    <div id="footer" class="flex-center">
      <div class="footer-container">
        <div class="footer-items">
          <p>Let's talk!</p>
          <p>rodrigo@rodri-go.net</p>
          <p><i class="fa-brands fa-github"></i> GitHub</p>
          <p><i class="fa-brands fa-instagram"></i> Instagram</p>
          <p>Or meet me anywhere in The Hague</p>
        </div>
      </div>
    </div>

  </body>
</html>
