---
layout: headers_footers.njk
css:
  - /public/_page_about_contact.css
---

<div class="about-contact-page-container main-section">
    <div class="about-contact-wrapper flex-center">
        <div class="about-contact-body full-width">
            {{ content | safe }}
        </div>  
    </div>
</div>