<div id="pagination-container" class="main-section flex-center">
    <div class="pagination-wrapper m-bottom-big">
        {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" class="m-right">&larr;</a>
        {% endif %}

        {% for pageEntry in pagination.pages %}
        <a href="{{ pagination.hrefs[loop.index0] }}" class="{% if pagination.pageNumber == loop.index0 %}current-page {% endif %}m-right">
            {{ loop.index }}
        </a>
        {% endfor %}

        {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">&rarr;</a>
        {% endif %}
    </div>
</div>

