<div id="projects-container" class="main-section flex-center">
  <div class="projects-wrapper">
    {% for project in projects%}
      {% include "project-card.njk" %}
    {% endfor %}
  </div>
</div>