<div class="main-section" id="work-container">
  <div id="work" class="flex-center">
    <div class="work-wrapper flex-start full-width">
      <h2>
        {% if page.url == '/' %}
          Work
        {% elif page.url.startsWith('/categories/') %}
          {{ category }}
        {% elif page.url.startsWith('/years/') %}
          {{ year }}
        {% endif %}
        &#8623;
      </h2>
      <p>
        <a href="/#work"><span class="tag tag--big {% if page.url == '/' %}tag--selected{% endif %}">All categories</span></a>&nbsp;
        {%- set allCategories = [] -%}
        {% set lastSegment = page.url | lastSegment %}

        {%- for project in collections.project -%}
          {%- for category in project.data.categories -%}
            {%- if category not in allCategories -%}
              {%- set allCategories = allCategories.concat([category]) -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}

        {%- for category in allCategories | sort -%}
          <a href="/categories/{{ category | slug }}/"><span class="tag tag--big {% if lastSegment | capitalize == category %}tag--selected{% endif %}">{{category | capitalize}}</span></a>
          {%- if not loop.last -%}
            &nbsp;
          {%- endif -%}
        {%- endfor -%}
      </p>

      <p>
        <a href="/#work"><span class="tag tag--big {% if page.url == '/' %}tag--selected{% endif %}">All years</span></a>&nbsp;
        {%- set allYears = [] -%}

        {%- for project in collections.project -%}
          {%- if project.data.year not in allYears -%}
            {%- set allYears = allYears.concat([project.data.year]) -%}
          {%- endif -%}
        {%- endfor -%}

        {%- for year in allYears | sort | reverse -%}
          <a href="/years/{{ year | slug }}/"><span class="tag tag--big {% if lastSegment | capitalize == year %}tag--selected{% endif %}">{{year}}</span></a>
          {%- if not loop.last -%}
            &nbsp;
          {%- endif -%}
        {%- endfor -%}
      </p>
    </div>
  </div>
</div>