#footer {
  z-index: 10;
  width: 100%;
  height: 24px;
  padding: 10px 0px 10px 0px;
  background-color: var(--purple-blue);
  border-bottom: 6px solid var(--purple-blue);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  // width: var(--page-width);

  // font-family: "degular", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  color: white;
}

.footer-items {
  display: flex;
  justify-content: center;
  gap: 56px;
  margin-top: 6px;
}
