#navbar {
  width: 100%;
  height: 32px;
  padding: 20px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  // font-family: "degular", sans-serif;
  font-weight: 400;
  font-style: normal;

  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  // box-shadow: rgba(0, 0, 0, 0.12) 0px -5px 40px;
  // background-color: #DBDDFF;
  background-color: rgb(255, 255, 255);
  // transition: transform 0.3s ease-in-out, position 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#navbar.scrolled {
  // position: absolute;
  // transform: translateY(-100%);
  top: -80px;
}

.nav-right, .nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar h1 {
  font-weight: 500;
  font-size: 26px;
}

.nav-header {
  margin: 0;
}

.nav-header i {
  font-size: 20px;
  margin-left: 2px;
}

.nav-btn {
  display: inline;
  height: 24px;
  padding: 12px 14px 4px 14px;

  font-size: 18px;
  // font-family: "degular", sans-serif;
  font-weight: 500;

  border-radius: 150px;
  // transition: all 0.3s ease-in-out;

  letter-spacing: 1px;
}

.nav-btn.work:hover {
  background-color: #dbddff87;
  cursor: pointer;
  color: var(--purple-blue);
}

.nav-btn.about:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--purple-blue);
}

.nav-btn.contact:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--truck-red);
}

.nav-btn.blog:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--black-grey);
}

.dropdown i {
  font-size: 14px;
  vertical-align: -1px
}

// .nav-btn-long, .nav-btn-round {
//   display: inline;
//   height: 24px;
//   padding: 2px 14px 6px 14px;

//   border: 1.5px solid var(--black-grey);
//   border-radius: 150px;

//   font-size: 20px;
//   font-family: "degular", sans-serif;
//   font-weight: 500;

//   transition: all 0.3s ease-in-out;
// }

// .nav-btn-long:hover {
//   color: var(--purple-blue);
//   border-color: var(--purple-blue);
//   cursor: pointer;
// }

// .nav-btn-long i {
//   font-size: 18px;
//   margin-right: 4px;
// }

// .nav-btn-round {
//   width: 26px;
//   padding: 4px;
//   text-align: center;
// }


.btn-active {
  color: white;
  background-color: var(--purple-blue);
  border-color: var(--purple-blue);
}

.btn-active:hover {
  color: white;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

// dropdown

.chevron {
  position: relative;
  display: block;
  height: 50px; /*height should be double border*/
}

.chevron::before,
.chevron::after {
  position: absolute;
  display: block;
  content: "";
  border: 25px solid transparent; /*adjust size*/
}

/* Replace all text `top` below with left/right/bottom to rotate the chevron */

.chevron::before {
  top: 0;
  border-top-color: var(--black-grey); /*Chevron Color*/
}

.chevron::after {
  top: -10px; /*adjust thickness*/
  border-top-color: var(--black-grey); /*Match background colour*/
}
