#show-nav-header {
  padding-right: 4px;
  padding-bottom: 4px;
}

.project-page-wrapper {
  margin-bottom: var(--spacer);
}

.project-page-wrapper img {
  max-width: var(--page-width);
}

.project-head {
  margin-top: calc(var(--spacer)*3);
  min-height: 30vw;
}

// margin-right basically
.project-head > h1, .project-head > p{
  width: 46%;
}

.project-body p {
  font-size: 1rem;
  width: 65%;
  line-height: 130%;
}

.pr-header-pic {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  top: 73px;
}

.pr-page-title {
  font-size: 3rem;
  font-weight: normal;
}

.pr-page-subtitle {
  font-size: 1.4rem;
  line-height: 120%;
}

.pr-page-info {
  font-size: 1.2rem;
  opacity: 0.65;
}

.pr-page-size {
  font-size: 1rem;
  opacity: 0.65;
}

.pr-page-categories {
  font-size: 1.1rem;
}

.pr-page-categories {
  color: var(--purple-blue);
}

.pr-page-categories span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.extra-large {
  width: var(--page-width);
}

.large {
  width: 100%;
}

.medium {
  width: 75%;
}

.small {
  width: 50%;
}

em {
  font-size: 0.9rem;
  opacity: 0.6;
}