#show-nav-header {
  padding-right: 4px;
  padding-bottom: 4px;
}

#project-head {
  height: 33.1vw;
}

.project-page-wrapper {
  margin-bottom: calc(var(--spacer)*1.5);
  position: relative;
}

// .project-head {
//   margin-top: calc(var(--spacer)*3);
//   min-height: 32vw;
// }

// margin-right basically
.project-head > h1, .project-head > h2, .project-head > p{
  width: 46%;
}

.project-page-wrapper h2 {
  line-height: 130%;
}

.project-body p {
  font-size: 1rem;
  width: 65%;
  line-height: 130%;
}

.project-body h1, .project-body h2, .project-body h3 {
  width: 65%;
}

.project-body figure {
  margin: calc(var(--spacer)*1.5) 0;
}

.pr-header-pic {
  width: 50%;
  height: 33.1vw;
  position: absolute;
  right: 0;
  top: 0px;
  max-width: var(--page-width);
  max-height: 35vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.pr-header-pic img {
  height: 100%;
  object-fit: contain;
}

.pr-page-title {
  font-size: 3rem;
  font-weight: normal;
}

// .pr-page-subtitle {
//   font-size: 1.4rem;
//   line-height: 120%;
// }

.pr-page-info {
  font-size: 1.2rem;
  opacity: 0.65;
}

.pr-page-size {
  font-size: 1rem;
  opacity: 0.65;
}

.pr-page-categories {
  font-size: 1.1rem;
}

.pr-page-categories {
  color: var(--purple-blue);
}

.pr-page-categories span:hover {
  text-decoration: underline;
  cursor: pointer;
}

// sizes for images in project body

figure .extra-large {
  width: var(--page-width);
}

figure .large {
  width: 65%;
}

figure .medium {
  width: 50%;
}

figure .small {
  width: 35%;
}

// image captions

figcaption {
  font-size: 0.9rem;
  opacity: 0.6;
}

// vimeo

.vimeo {
  margin: calc(var(--spacer)*1.5) 0;
}

// Media queries

// Vertical layouts //

@media (width <= 950px) {

  .project-page-wrapper {
    flex-direction: column;
  }

  .pr-header-pic {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    top: 0;
  }

  .project-head {
    margin-top: var(--spacer);
  }

  .project-head h1, .project-head p {
    width: 100%;
  }

  .pr-page-title {
    font-size: 2.5rem;
  }

  .project-body p {
    width: 100%;
  }

  figure .extra-large {
    width: 100vw;
    margin-left: -4vw;
  }

  figure .medium {
    width: 80%;
  }

  figure .small {
    width: 66%;
  }

}