.about-contact-page-container {
    padding-top: var(--spacer);
    padding-bottom: var(--spacer);
}

.about-contact-body h1 {
  margin-top: calc(var(--spacer) * 3);
  scroll-margin-top: 90px;
}

.about-contact-body h1, .about-contact-body h2, .about-contact-body h3, .about-contact-body p {
  width: var(--text-width)
}

.about-contact-body h2 {
  line-height: 130%;
}

.about-contact-body p {
  font-size: 1rem;
  line-height: 130%;
}

.about-contact-body a {
  color: var(--purple-blue);
  text-decoration: none;
}

.about-contact-body a:hover {
  text-decoration: underline;
}