.pr-card a:hover {
  --hover-color: var(--purple-blue);
}

.pr-pic {
  width: 100%;
  border: var(--border-width) solid var(--hover-color);
  // transition: all 0.3s ease-in-out;
}

.pr-body {
  padding: 16px var(--spacer) 0px 0px;
}

.pr-body h2 {
  margin: 0;
  font-size: 1.6rem;
}

// .col-large > .pr-body > h2 {
//   font-size: 26px;
// }

.pr-body {
  margin: 0;
  font-weight: 400;
  line-height: 120%;
}

.pr-subtitle {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.pr-info {
  font-size: 0.8rem;
  opacity: 0.65;
  margin-top: 10px;
}

.pr-categories {
  // color: var(--purple-blue);
  // font-size: 0.8rem;
  // font-style: normal;
  margin-bottom: 16px;
}

// .pr-categories span {
//   padding: 6px 9px 5px 9px; // top right bottom left
//   background-color: #4848d311;
//   letter-spacing: 0.03rem;
//   transition: all 0.2s ease-in-out;
// }

// .pr-categories span:hover {
//   // padding: 2px 12px 5px 12px;
//   // text-align: center;
//   // text-decoration: underline;
//   cursor: pointer;
//   background-color: #4848d323;
//   // border-radius: 16px;
//   // background: rgba(72, 72, 211, 0.15);
// }
