.pr-card a:hover {
  --hover-color: #4848D3;
}

.pr-pic {
  width: 100%;
  border: var(--border-width) solid var(--hover-color);
  // transition: all 0.3s ease-in-out;
}

.pr-body {
  padding: 16px var(--spacer) 0px 0px;
}

.pr-body h2 {
  margin: 0;

  // font-family: "degular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.col-large > .pr-body > h2 {
  font-size: 26px;
}

.pr-body {
  margin: 0;
  font-weight: 400;
  line-height: 120%;
}

.pr-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.pr-info {
  font-size: 14px;
  opacity: 0.65;
  margin-top: 10px;
}

.pr-categories {
  color: var(--purple-blue);
  // font-family: "degular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: calc(var(--spacer)*2);
}

.pr-categories span {
  // padding: 2px 12px 5px 12px;
  // text-align: center;
  text-decoration: underline;
  // border-radius: 16px;
  // background: rgba(72, 72, 211, 0.15);
}

.pr-categories span :hover {
  cursor: pointer;
}
