// .projects-nav {
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
//   z-index: 10;
//   margin-top: 417px;
// }

#projects-container {
  padding-top: var(--spacer);
  position: relative;
  z-index: 8;
}

.projects-wrapper {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 23.3018867925% 23.3018867925% 23.3018867925% 23.3018867925%;
  grid-auto-rows: auto;
  gap: 24px 24px;
  width: var(--page-width);
  height: auto;
  margin-bottom: var(--spacer);
}

// #projects-container #sticky {
//   grid-row: 1;
//   grid-column: 1;
// }

.col-large {
  grid-column: span 3;
}
.col-medium {
  grid-column: span 2;
}
.col-small {
  grid-column: span 1;
}

#projects-container a {
  text-decoration: none;
  color: var(--black-grey);
  // transition: all 0.3s ease-in-out;
}

#projects-container a:hover {
  color: var(--purple-blue);
}

// pagination

.pagination-wrapper a {
  display: inline-block;
  min-width: 2ch;
  text-align: center;
  padding: 4px 2px;
}

.pagination-wrapper a:hover {
  color: var(--purple-blue);
}

.current-page {
  color: var(--purple-blue);
  border-bottom: 1px solid rgb(208, 208, 208);
}