.work-categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

#work-container {
  margin-top: 25px;
}

#work-container #navbar {
  display: none;
}

.work-wrapper {
  flex-direction: column;
}

.work-wrapper p {
  width: 100%;
  margin-right: var(--spacer);
  line-height: 180%;
  margin-top: 0;
  margin-bottom: 7.5px;
}

