.work-categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

#work-container {
  margin-top: 25px;
}

#work-container #navbar {
  display: none;
}

#work-wrapper {
  margin-top: 15px;
}

.work-wrapper p {
  color: var(--purple-blue);
  font-size: 1.15rem;
  width: 100%;
  margin-right: var(--spacer);
  font-weight: 400;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 0;
}

.black{
  color: var(--black-grey);
}

// .work-wrapper a {
//   color: var(--purple-blue);
//   text-decoration: none;
//   transition: all 0.3s ease-in-out;
// }

.filter-category:hover {
  cursor: pointer;
  text-decoration: underline;
}
