:root {
  --black-grey: #252525;
  --purple-blue: #4848D3;
  --truck-red: #DF2E38;
  --spacer: 24px;
  --page-width: 1160px;
  --border-width: 1.5px;
  --hover-color: #4848d300;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  // font-family: "aktiv-grotesk", sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black-grey);

  letter-spacing: 0.1px;

}

 /* Hide scrollbar for Chrome, Safari and Opera */
 html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-padding-top: 80px; 
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  flex: 1;
}

/* Widths, paddings & margins */

.main-section {
  width: 100%;
}

.full-width {
  width: var(--page-width);
}

.less-padding-top {
  padding-top: var(--spacer);
}

.m-bottom-big {
  margin-bottom: calc(var(--spacer) * 2);
}

.m-right {
  margin-right: var(--spacer);
}

/* Display */

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

/* Text */

h1, h2, h3 {
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.inline-header {
  font-size: 1.3rem;
}

.active {
  text-decoration: underline !important;
  color: var(--purple-blue) !important;
}

/* Buttons & Tags */

/* Base */
.tag {
  color: var(--purple-blue);
  text-decoration: none;
  background-color: #4848d311;
  transition: all 0.2s ease-in-out;
}

.tag:hover {
  cursor: pointer;
  background-color: #4848d323;
}

// .tag a  {
//   color: var(--purple-blue);
//   text-decoration: none;
// }

/* Variations */
.tag--big {
  padding: 8px 11px 7px 11px; // top right bottom left
  font-size: 0.95rem;
  letter-spacing: 0.04rem;
}

.tag--small {
  padding: 6px 9px 5px 9px; // top right bottom left
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
}

/* Selected state */

.tag--selected {
  color: white;
  background-color: var(--purple-blue);
  border-radius: 50px;
}

.tag--selected:hover {
  color: white;
  background-color: var(--purple-blue);
}


// .tag--selected a {
//   color: white;
// }

// .tag--selected:hover a {
//   color: white
//

/* Colours */

.black{
  color: var(--black-grey);
}

/* Media Queries */

/* Monitors, large laptops */
@media (width >= 1500px) {

  :root {
    --page-width: 1360px;
  }

}

/* Laptop, minimised */
@media (width <= 1250px) {

  :root {
    --page-width: 1060px;
  }

}

@media (width <= 1150px) {

  :root {
    --page-width: 960px;
  }

}

@media (width <= 1050px) {

  :root {
    --page-width: 860px;
  }

}

/* Vertical layouts */

@media (width <= 950px) {

  :root {
    --page-width: 95vw;
    /* make pw around 95% */
  }

  /* nav fonts smaller */
  /* about font smaller */
  /* project grid 2 col */

}