--- 
title: rodri-go.net
layout: headers_footers.njk
css:
  - /public/_work.css
  - /public/_project_cards.css
  - /public/_projects_grid.css
pagination:
  data: collections.yearsList
  size: 1
  alias: year
permalink: "/years/{{ year | slug }}/index.html"
---
{# work #}
{% include "work.njk" %}

{# projects #}
{% set projects = collections.projectsByYear[year] %}
{% include "projects-index.njk" %}